alembic
aniso8601
attrs
cffi
click
cloudpickle
Flask
Flask-Migrate
flask-restx
Flask-Script
Flask-SQLAlchemy
gevent
greenlet
gunicorn
itsdangerous
Jinja2
jsonschema
Mako
MarkupSafe
numpy
pandas
psycopg2-binary
pycparser
pyrsistent
python-dateutil
python-editor
pytz
scikit-learn
scipy
six
sklearn
SQLAlchemy
unicode
Unidecode
Werkzeug
xgboost
